* {
margin: 0;
}

body {
  box-sizing: border-box;
  background-color: whitesmoke;
}
header {
  display: flex;
  align-items: center;
  background-color: darkgray;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 2;
}

header h1 {
  font-size: 30px;
  padding:15px 15px 15px 15px;
}

.headercontainer {
  display: flex;
  position: absolute;
  right: 2%;
  align-items: center;
}

.bell {
  width:40px;
  height: 40px;
  border-right: 1px solid grey;
  padding-right:15px;
  margin: 2% 2%;
}

.mypic {
  width:40px;
  height: 40px;
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

header p {
  font-size: small;
  width: 100px;
  white-space: nowrap;
}

.navcontainer {
  background-color:lightgrey;
  height: 100%;
  width: 90px;
  position: fixed;
  z-index: 1;
  text-align: center;
  padding-top: 80px;
}

.navicon {
 width: 40px;
 height: 40px;
 padding: 20px 10px 20px 10px; 
}

main {
 position: absolute;
 top: 75px;
 left: 90px;
 right: 0;
}

.maincontainer {
  display: flex;
  flex-wrap: wrap;
  
}

.traffic {
 width: 100%;
 height: auto;
}

.indexwrap {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  align-items: center;
}

.index {
  width: 200px;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
}

.inputwrap {
  display: flex;
  justify-content: flex-end;
  border: 1px solid lightgrey;
  background-color: whitesmoke;
  height: 60px;
  width: 100%;
  align-items: center;
}

.searchbox {
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 400px;
  margin-right:15px;
}

.trafficwrap {
  display: flex;
  align-items: center;
  background-color: white;
  height: 60px;
}

.trafficwrap p {
  padding: 10px 10px 10px 10px;
}

.timewrap {
  display: flex;
  position: absolute;
  right: 2%;
}

.dailytraffic {
  width: 50%;
}

.mobileusers {
  width: 50%;
}

.socialstats {
  width: 100%;
}

.twitter-icon {
  width: 10%;
  height: 10%;
}



.newmembers{
  width: 50%;
}

.recentactivity {
  width: 50%;
}

.messageuser {
  width: 50%;
}

.settings {
  width:50%;
}


