* {
margin: 0;
}


header,
aside,
nav,
main {
  border: tomato 1px solid;
}

.grid {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 80px 70px 1fr;
  grid-template-areas: 
  "header header"
  "aside nav"
  "aside main";
}

/* header style */
header {
  grid-area: header;
  display: flex;
  align-items: center;
  background-color: darkgray;
  color: white;
  width: 100%;
}

header h1 {
  font-size: 30px;
  padding:15px 15px 15px 15px;
}

.header-container {
  display: flex;
  position: absolute;
  right: 1%;
  align-items: center;
}

header p {
  font-size: small;
  width: 100px;
  white-space: nowrap;
}

body {
  box-sizing: border-box;
  background-color: white;
}

.bell {
  width:40px;
  height: 40px;
  border-right: 1px solid grey;
  padding-right:15px;
  margin: 2% 2%;
}

.mypic {
  width:40px;
  height: 40px;
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
}


/* sidebar */
aside {
  grid-area: aside;
  background-color: lightgrey;
  text-align: center;
}

.sidebaricon {
  width: 40px;
  height: 40px;
  padding: 20px 10px 20px 10px; 
 }
 
 .icon-size {
  width: 40px;
  height: 40px;
  margin: 20px 30px 20px 30px;
}

.index {
  font-size: 20px;
  width: 20%;
  text-align: center;
}
.index-wrap {
  display: flex;
  align-items: center;
  height: 70px;
}

.input-wrap {
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: whitesmoke;
}

.searchbox {
 margin-right: 20px;
 height: 40px;
 width: 50%;
 border:solid 1px lightgrey;
 border-radius: 5px;
}

/* main style */

.traffic,
.daily-traffic,
.mobile-users,
.social-stats,
.new-members,
.recent-activity,
.message-users,
.settings {
  border: lightsalmon 1px solid;
}


main {
  grid-area: main;
  margin-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 220px 1fr 1fr;
  grid-template-areas: 
  "traffic traffic"
  "daily-traffic mobile-users"
  "social-stats social-stats"
  "new-members recent-activity"
  "message-user settings";
}
.subject {
  padding: 20px 20px 20px 20px;
}

.traffic {
  grid-area: traffic;
}

.traffic-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.time-wrap {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}

/* social stats style */
.social-stats {
  grid-area: social-stats;
}

.social-wrap {
  display: flex;
  justify-content: space-evenly;
}

.social-container {
  display: flex;
  align-items: center;
  width: 30%;
  height: 100px;
  border: lightgray 1px solid;
  background-color: whitesmoke;
}

.social-media {
 position: relative;
 top: 10px;
}

.social-number {
 font-size: 40px;
}

.member-icon {
  width:40px;
  height: 40px;
  border-radius: 50%;
}

.member-wrap {
  display: flex;
  flex-direction: column;
  border: yellow 1px solid;
  margin: 0px 20px 20px 20px ;
}

/* header {
  display: flex;
  align-items: center;
  background-color: darkgray;
  color: white;
  width: 100%;
}

header h1 {
  font-size: 30px;
  padding:15px 15px 15px 15px;
}

.headercontainer {
  display: flex;
  position: absolute;
  right: 2%;
  align-items: center;
}

.bell {
  width:40px;
  height: 40px;
  border-right: 1px solid grey;
  padding-right:15px;
  margin: 2% 2%;
}

.mypic {
  width:40px;
  height: 40px;
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

header p {
  font-size: small;
  width: 100px;
  white-space: nowrap;
}

.navcontainer {
  background-color:lightgrey;
  height: 100%;
  width: 90px;
  position: fixed;
  z-index: 1;
  text-align: center;
  padding-top: 80px;
}

.navicon {
 width: 40px;
 height: 40px;
 padding: 20px 10px 20px 10px; 
}

main {
}

.maincontainer {
  display: flex;
  flex-wrap: wrap;
}

.traffic {
 width: 100%;
 height: auto;
}

.indexwrap {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  align-items: center;
}

.index {
  width: 200px;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
}

.inputwrap {
  display: flex;
  justify-content: flex-end;
  border: 1px solid lightgrey;
  background-color: whitesmoke;
  height: 60px;
  width: 100%;
  align-items: center;
}

.searchbox {
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 400px;
  margin-right:15px;
}

.trafficwrap {
  display: flex;
  align-items: center;
  background-color: white;
  height: 60px;
}

.subject {
  padding: 20px 20px 20px 20px;
}

.timewrap {
  display: flex;
  position: absolute;
  right: 2%;
}

.dailytraffic {
  width: 50%;
}

.mobileusers {
  width: 50%;
}

/* social stats layout */
/* 
.social-stats {
  width: 100%;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
 justify-content: center;
}

.social-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 40px;

}

.social-container {
  width: 300px;
  height: 100px;
  border: tomato 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.icon-size {
  width: 60px;
  height: 60px;
}

.social-media {
  position: relative;
  top:10px;
  font-size: 15px;
}

.social-number {
  font-size: 40px;
  padding-bottom: 10px;
}



.newmembers{
  width: 50%;
}

.recentactivity {
  width: 50%;
}

.messageuser {
  width: 50%;
}

.settings {
  width:50%;
} */
